mat-form-field {
  width: 100%;
}

.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgb(80, 112, 72), rgb(80, 112, 72) 100%);
}

mat-form-field mat-label {
  color: #fff;
}

a {
  margin-top: 7px;
}

.footer {
  color: #fff;
  margin-top: 10px;
}
